!!!strict
%html{:xmlns => "http://www.w3.org/1999/xhtml", :"xml:lang" => "en"}
  %head
    %meta{:"http-equiv" => "Content-type", :content => "text/html; charset=utf-8"}
    %title
      == #{site.blog_title}#{' :: ' + page.title if page.respond_to?(:title)}
    %link{:rel => "shortcut icon", :href => "/favicon.ico", :type => "image/x-icon"}
    %link{:rel => "stylesheet", :href => "/stylesheets/master.css", :type => "text/css"}
  %body{:id => (page.body_id if page.respond_to?(:body_id))}
    #header
      .wrapper
        #logo <a href="/"><img src="/images/logo.png" alt="Take me home!" /></a>
        #menu_box
          %ul#main_menu
            %li.first.home <a href="/">Home</a>
            %li <a href="/projects">Projects</a>
            %li <a href="/work">Work</a>
            %li <a href="/contact">Contact</a>
        .clr
    #info_box
    #main_content
      .wrapper
        #content= content
        #sidebar
          .sidebar_item
            .header <h2>Categories</h2>
            .content
              %ul
                - site.categories.each do |cat, posts|
                  %li== <a href="/category/#{cat.downcase}">#{cat.capitalize}</a>
          .sidebar_item
            .header <h2>Archives</h2>
            .content
              %ul
                - site.collated_posts.to_a.reverse.each do |year|
                  - year.last.to_a.reverse.each do |month|
                    %li== <a href="/#{year.first}/#{to_month_i(month.first)}">#{to_month(month.first)} #{year.first}</a> (#{days_to_post_count(month.last)})
        .clr
      .clr
    #bottom_gfx_banner
      #bottom_gfx.wrapper
    #footer
      #footer_content.wrapper
        #twitter_div.footer_extra_info
          %h3 Twitter
          =include 'twitter.html'
        #lastfm_div.footer_extra_info
          %h3 Last.fm
          =include 'lastfm.html'
        #flickr_div.footer_extra_info
          %h3 Flickr
          =include 'flickr.html'
        .clr
        %br/
        #copyright
          == Copyright &copy; 2007 - #{Time.new.year} #{site.blog_title}. Powered by <a href="http://github.com/mojombo/jekyll">Jekyll</a>.  <br /><a href="/feed.xml">Entries (RSS)</a>.
    :javascript
      (function() {
        var links = document.getElementsByTagName('a');
        var query = '?';
        for(var i = 0; i < links.length; i++) {
          if(links[i].href.indexOf('#disqus_thread') >= 0) {
            query += 'url' + i + '=' + encodeURIComponent(links[i].href) + '&';
          }
        }
        document.write('<script charset="utf-8" type="text/javascript" src="http://disqus.com/forums/27smiles/get_num_replies.js' + query + '"></' + 'script>');
      })();